<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/keyboard.css">
    <script src="/scripts/randomWord.js"></script>
    
</head>

<body onload="startTimer()">

    <div class="container-sm">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 justify-content-center">
                <h1 class="mb-2">WORDLE</h1>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="container">
        <div class="col">
            <div class="h3 my-2" id="timer">
                "00:00:00.00"
            </div>

            <div class="col my-2 try1 d-flex justify-content-center" id="try1">
                <input class="letter mx-1" type="text" maxlength="1" autofocus autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" autocomplete="off">
                <button type="button" class="ms-2 btn btn-secondary" id="attempt1">Enter</button>
            </div>
            <div class="col my-2 try2 d-flex justify-content-center">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <button type="button" class="ms-2 btn btn-secondary" disabled onclick="test(id)"
                    id="attempt2">Enter</button>
            </div>
            <div class="col my-2 try3 d-flex justify-content-center">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <button type="button" class="ms-2 btn btn-secondary" disabled onclick="test(id)"
                    id="attempt3">Enter</button>
            </div>
            <div class="col my-2 try4 d-flex justify-content-center">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <button type="button" class="ms-2 btn btn-secondary" disabled onclick="test(id)"
                    id="attempt4">Enter</button>
            </div>
            <div class="col my-2 try5 d-flex justify-content-center">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <button type="button" class="ms-2 btn btn-secondary" disabled onclick="test(id)"
                    id="attempt5">Enter</button>
            </div>
            <div class="col my-2 try6 d-flex justify-content-center">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <input class="letter mx-1" type="text" maxlength="1" disabled autocomplete="off">
                <button type="button" class="ms-2 btn btn-secondary" disabled onclick="test(id)"
                    id="attempt6">Enter</button>
            </div>
            <div class="mt-5 pt-5">
                <kbd class="mx-1">Q</kbd>
                <kbd class="mx-1">W</kbd>
                <kbd class="mx-1">E</kbd>
                <kbd class="mx-1">R</kbd>
                <kbd class="mx-1">T</kbd>
                <kbd class="mx-1">Y</kbd>
                <kbd class="mx-1">U</kbd>
                <kbd class="mx-1">I</kbd>
                <kbd class="mx-1">O</kbd>
                <kbd class="mx-1">P</kbd>
            </div>
            <div class="mt-2">
                <kbd class="mx-1">A</kbd>
                <kbd class="mx-1">S</kbd>
                <kbd class="mx-1">D</kbd>
                <kbd class="mx-1">F</kbd>
                <kbd class="mx-1">G</kbd>
                <kbd class="mx-1">H</kbd>
                <kbd class="mx-1">J</kbd>
                <kbd class="mx-1">K</kbd>
                <kbd class="mx-1">L</kbd>
            </div>
            <div class="mt-2">
                <kbd class="mx-1">Z</kbd>
                <kbd class="mx-1">X</kbd>
                <kbd class="mx-1">C</kbd>
                <kbd class="mx-1">V</kbd>
                <kbd class="mx-1">B</kbd>
                <kbd class="mx-1">N</kbd>
                <kbd class="mx-1">M</kbd>
            </div>
        </div>
    </div>

</body>


<script src="/scripts/autoFocus.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/timer.js"></script>


</html>